
@{
    Layout = null;
}

@Styles.Render("~/css/common")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")


<script>
    $(document).ready(function () {
        alert('바우처 시스템에 등록되지 않은 ID입니다.\n 확인을 누르시면 TCMS 홈페이지로 재전송됩니다.');
        window.location = 'http://www.tcms.or.kr';
    });
</script>
<title>LoginError</title>

<div> 
</div>
