<div class="footerWrap">
    <div class="footer_left">
        <a href="" class="motie_logo"></a><a href="" class="kath_logo"></a>
    </div>
    <div class="footer_lineL"></div>
    <div class="footer_right">
        <div class="right_01">
            <div class="footer_label">개인정보취급방침</div><div class="footer_lineS"></div>
            <div class="footer_label">Contact Us</div><div class="footer_lineS"></div>
            <div class="footer_label">사이트맵</div>
        </div>
        <div class="right_01">
            <div class="footer_label">사단법인 한국기술지주회사협회</div><div class="footer_lineS"></div>
            <div class="footer_label">서울특별시 강남구 역삼로 156(역삼동 789-7) 태광빌딩 6층 603호</div><div class="footer_lineS"></div>
            <div class="footer_label">Mail to web master</div><div class="footer_lineS"></div>
            <div class="footer_label">Tel : 02-2063-4011</div>
        </div>

        <div class="right_01">
            <div class="footer_label">CopyrightⓒKATH,All rights reserved</div>
        </div>
    </div><!--container+footwrap//-->
</div>
