
<div id="sub_leftwrap">
    <div class="sub_gnbwrap">
        <div class="navi_left">
            <div class="kath_logo"></div>
            <div class="bg_col_g">
                <ul>
                    <li><div class="iconBox"><div class="vc_iconSB_01"></div><a href="@Url.Action("CompStateManage", "ConditionManagement")" class="vc_title_01 fw_600">현황관리</a></div></li>
                    <li><div class="iconBox"><div class="vc_iconSB_10"></div><a href="@Url.Action("BasicSurveyReport","Report")" class="vc_title_10 fw_600">보고서</a></div></li>
                </ul>
            </div>
        </div>

    </div><!--sub_gnbwrap//-->
</div><!--sub_leftwrap//-->
